@font-face {
    font-family: 'Matsury';
    src: url('../fonts/matsury/matsury.otf'); /* IE9 Compat Modes */
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Gilroy-light';
    src: url('../fonts/gilroy/svn-gilroy-light.otf') format("opentype");/* IE9 Compat Modes */
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Gilroy-reg';
    src: url('../fonts/gilroy/svn-gilroy-regular.otf') format("opentype");/* IE9 Compat Modes */
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Gilroy-med';
    src: url('../fonts/gilroy/svn-gilroy-medium.otf') format("opentype");/* IE9 Compat Modes */
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Gilroy-semi';
    src: url('../fonts/gilroy/svn-gilroy-semibold.otf') format("opentype");/* IE9 Compat Modes */
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Gilroy-bold';
    src: url('../fonts/gilroy/svn-gilroy-bold.otf') format("opentype");/* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Gilroy-xbold';
    src: url('../fonts/gilroy/svn-gilroy-xbold.otf') format("opentype");/* IE9 Compat Modes */
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'vlbebasneue';
    src: url('../fonts/vlbebasneue/vl-bebasneue-bold.otf');/* IE9 Compat Modes */
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'gmv-reg';
    src: url('../fonts/GMV/GMV_DIN_Pro.ttf');/* IE9 Compat Modes */
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'gmv-med';
    src: url('../fonts/GMV/GMV_DIN_Pro-Medium.ttf');/* IE9 Compat Modes */
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'gmv-bd';
    src: url('../fonts/GMV/GMV_DIN_Pro-Bold.ttf');/* IE9 Compat Modes */
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'gmv-bl';
    src: url('../fonts/GMV/GMV_DIN_Pro-Cond_Black.ttf');/* IE9 Compat Modes */
    font-style: normal;
    font-display: fallback;
}
