/* variable color */
$color__main: #E50019;
$color__primary: #D43F3F;
$color__primary1: #E17979;
$color__primary2: #E07979;
$color__light: #ffffff;
$color__light1: #FAEDE5;
$color__light2: #fffbf8;
$color__light3: #f6f6f6;
$color__dark: #000000;
$color__gray: #ded4d4;
$color__gray1: #bebebe;
$color__blue: #51d9ff;
$color__brown: #262626;

/* fonts */
$font__family-oswals: 'Oswald', sans-serif;
$font__family-robotos: 'Roboto', sans-serif;
$font__family-dancing: 'Dancing Script', cursive;
$font__family-Matsury: 'Matsury';
$font__family-rosellinVn: 'RosellinVn';
$font__family-rosellinEn: 'RosellinEn';
$font__family-gilroy-300: 'Gilroy-light';
$font__family-gilroy-400: 'Gilroy-reg';
$font__family-gilroy-500: 'Gilroy-med';
$font__family-gilroy-600: 'Gilroy-semi';
$font__family-gilroy-700: 'Gilroy-bold';
$font__family-gilroy-900: 'Gilroy-xbold';
$font__family-vlbebasneue: 'vlbebasneue';
$font__family-gmv-400: 'gmv-reg';
$font__family-gmv-500: 'gmv-med';
$font__family-gmv-700: 'gmv-bd';
$font__family-gmv-900: 'gmv-bl';
