// single post
.single {
    background-color: $color__light1 !important;
    .header-volcano {
        background-color: $color__brown !important;
        @include transition(all .5s ease-in-out);
        .group-content-header {
            .navigation {
                ul {
                    li {
                        a {
                            color: $color__light !important;
                            &:hover {
                                color: $color__main !important;
                            }
                        }
                        .sub-menu {
                            a {
                                color: $color__dark !important;
                                &:hover {
                                    color: $color__main !important;
                                }
                            }
                        }
                    }
                }
            }
            .language-switcher-arae {
                a {
                    color: $color__light !important;
                    border: 1px solid $color__light;
                    &:hover {
                        color: $color__main !important;
                    }
                }
            }
        }
    }
    .entry-header {
        h1 {
            font-family: $font__family-gmv-700 !important;
            padding-top: 60px !important;
            margin-bottom: 0 !important;
            padding-bottom: 20px !important;
            text-align: center;
            span {
                font-family: $font__family-gmv-400 !important;
                margin-top: -7px;
                display: block;
                font-size: 30px !important;
            }
            @include tablet {
                padding-top: 40px !important;
                span {
                    font-size: 20px !important;
                }
            }
        }
    }
    .post-thumbnail {
        width: 100% !important;
        height: 70vh !important;
        padding: 0 30px;
        @include tablet {
            height: 50vh !important;
            padding: 0 15px;
        }
        img {
            width: 100% !important;
            max-width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
            border-bottom: 4px solid $color__primary;
        }
    }
    .main-content {
        font-family: $font__family-gmv-400 !important;
        h1,h2,h3,h4,h5,h6 {
            color: $color__dark !important;
            font-family: $font__family-gmv-700 !important;
        }
        p {
            font-family: $font__family-gmv-400 !important;
            margin-bottom: 20px;
        }
        ul {
            max-width: 100% !important;
            width: 100% !important;
            li {
                font-family: $font__family-gmv-400 !important;
                margin-bottom: 10px;
                &::marker {
                    color: $color__primary;
                }
            }
        }
        .section-introduction {
            padding: 90px 0 20px 0;
            @include tablet {
                padding: 70px 0 10px 0;
            }
            .content-img {
                margin-bottom:50px;
                text-align: center;
                @include tablet {
                    margin-bottom: 30px;
                }
                @include mobile {
                    img {
                        width: 100% !important;
                        max-width: 270px !important;
                    }
                }
            }
            .col-left {
                padding-right: 60px;
                margin-bottom: 30px;
                @include tablet {
                    padding-right: 15px;
                }
            }
            .col-right {
                padding-left: 60px;
                margin-bottom: 30px;
                @include tablet {
                    padding-left: 15px;
                }
            }
            .line-red {
                width: 2px;
                height: 40px;
                background-color: $color__primary;
                margin: 30px auto 30px auto;
            }
            .line-red-full {
                width: 100%;
                height: 2px;
                background-color: $color__primary;
                position: absolute;
                top: calc(60% - 40px);
                z-index: 1;
            }
        }
        .section-introduction-l2 {
            .group-logo-ttl {
                position: relative;
            }
            .content-img {
                width: fit-content;
                margin: 0 auto;
                padding: 0 30px;
                position: relative;
                background-color: $color__light1;
                z-index: 2;
                @include mobile {
                    padding: 0 15px;
                }
                &::after,
                &::before {
                    position: absolute;
                    content: '';
                    width: 7px;
                    height: 7px;
                    background-color: $color__dark;
                    border-radius: 50%;
                    right: -7px;
                    top: 60%;
                }
                &::before {
                    left: -7px;
                    right: unset;
                }
            }
            .content-des {
                padding: 0 15px;
                width: 100%;
                max-width: 950px;
                margin: 0 auto;
            }
        }
        .section-three-colum,
        .section-two-colum {
            padding: 35px 0;
            position: relative;
            z-index: 1;
            .bg-img-colum {
                position: absolute;
                top: 46%;
                @include translate(0, -50%);
                left: 0;
                width: 100%;
                height: 45%;
                img {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .row {
                align-items: center;
                justify-content: center;
            }
            .cont-img {
                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
        .contentImg {
            padding: 50px 15px;
            @include tablet {
                padding: 50px 0;
            }
            .row {
                margin: 0;
                align-items: center;
                .cont-img,
                .content {
                    margin-bottom: 30px;
                }
                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
        .contentImgRight {
            .content {
                padding-right: 50px;
                padding-left: 50px;
                @include tablet {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
        .contentImgLeft {
            .content {
                padding-left: 50px;
                @include tablet {
                    padding-left: 0;
                }
            }
        }
        .section-three-colum {
            margin-bottom: 30px;
            padding: 30px;
            .cont-img {
                text-align: center;
                position: relative;
                z-index: 2;
                img {
                    width: 80% !important;
                    height: auto !important;
                }
            }
            .image-shadow {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                height: 100%;
                img {
                    height: 100% !important;
                    width: auto !important;
                }
            }
        }
        .section-two-colum {
            padding: 0;
            .col-cont {
                margin-bottom: 30px;
            }
        }
        .section-bg-image-full-width {
            margin-bottom: 30px;
            padding: 0 30px;
            @include tablet {
                padding: 0 15px;
            }
            img {
                width: 100% !important;
                height: auto !important;
            }
        }
        .bg-and-colum-img {
            .section-bg-image-full-width {
                padding: 0;
            }
            .row {
                justify-content: center;
                .cont-img {
                    margin-bottom: 30px;
                }
                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
        .secction-video-full-width {
            margin-bottom: 25px;
            padding: 0 30px;
            @include tablet {
                padding: 0 15px;
            }
            iframe {
                max-height: unset !important;
                width: 100% !important;
                height: 85vh !important;
                @include tablet {
                    height: 50vh !important;
                }
            }
        }
        .section-more-project {
            background-color: $color__brown;
            padding: 50px 0 30px 0;
            h2 {
                color: $color__primary !important;
                font-family: $font__family-gilroy-700 !important;
                text-align: center;
                margin-bottom: 30px !important;
            }
            .ttl {
                color: $color__light;
                margin-top: 8px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                @include tablet {
                    font-size: 16px;
                }
            }
            .more-post-list {
                position: relative;
                justify-content: center;
                .cont-img {
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    position: relative;
                    img {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: cover;
                        border-radius: 10px;
                        @include transition(all .3s ease-in-out);
                    }
                    .bg-movie {
                        width: 100%;
                        color: $color__light1;
                        font-family: $font__family-gilroy-600;
                        position: absolute;
                        bottom: 45px;
                        left: 0;
                        height: 65px;
                        display: flex;
                        align-items: center;
                        background-color: $color__primary;
                        visibility: hidden;
                        opacity: 0;
                        @include transition(all .3s ease-in-out);
                    }
                    .group-move-text {
                        margin: 0 auto;
                        position: relative;
                        transform: translate3d(0, 0, 0);
                        -moz-transform: translate3d(0, 0, 0);
                        -webkit-transform: translate3d(0, 0, 0);
                        -ms-transform: translate3d(0, 0, 0);
                        display: flex;
                        overflow: hidden;
                        width: 100%;
                        .move-text {
                            transform: translate3d(0, 0, 0);
                            -moz-transform: translate3d(0, 0, 0);
                            -webkit-transform: translate3d(0, 0, 0);
                            -ms-transform: translate3d(0, 0, 0);
                            display: flex;
                            animation: moveSlideshow 6s linear infinite;
                            .item {
                                padding: 0 10px;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                            }
                        }
                    } 
                }
                .col-cont {
                    margin: 0 15px;
                    &:hover {
                        .cont-img {
                            background-color: $color__dark;
                            img {
                                @include scale(1.1);
                                opacity: 0.5;
                            }
                        }
                        .button-volcano {
                            .arrow-line {
                                img {
                                    @include rotate(360);
                                }
                            }
                        }
                        .bg-movie {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .button-volcano {
                    margin: 30px auto;
                    font-size: 13px !important;
                    padding: 3px;
                    .text {
                        padding: 0 30px 0 15px;
                    }
                    .arrow-line {
                        width: 30px;
                        height: 30px;
                        img {
                            width: 15px !important;
                            height: auto !important;
                        }
                    }
                }
                .slick-arrow {
                    position: absolute;
                    font-size: 0 !important;
                    top: calc(50% - 70px);
                    @include translate(0,-50%);
                    padding: 0;
                    width: 45px;
                    height: 45px;
                    background-size: contain;
                    border: none;
                    background-repeat: no-repeat;
                    background-color: transparent !important;
                    z-index: 1;
                    border-radius: 50% !important;
                    &:hover {
                        opacity: 0.8;
                    }
                    @include tablet {
                        display: none !important;
                    }
                }
                .slick-next {
                    background-image: url('../images/prev-red-01.png');
                    @include rotate(-180);
                    right: -45px;
                }
                .slick-prev {
                    background-image: url('../images/prev-red-01.png');
                    left: -45px;
                    top: calc(50% - 50px);
                }
                .slick-dots {
                    position: absolute;
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    height: 10px;
                    left: 50%;
                    bottom: 10px;
                    margin: 0;
                    padding: 0;
                    z-index: 1;
                    @include translate(-50%, 0);
                    visibility: hidden;
                    opacity: 0;
                    @include tablet {
                        visibility: visible;
                        opacity: 1;
                    }
                    li {
                        margin: 0 3px;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        button {
                            width: 6px;
                            height: 6px;
                            font-size: 0 !important;
                            padding: 0 !important;
                            border-radius: 50%;
                            background-color: $color__light !important;
                            @include transition(all .3s ease-in-out);
                            &:focus {
                                outline: none;
                            }
                            &:hover {
                                background-color: $color__primary !important;
                            }
                        }
                        button[aria-label="1 of 1"] {
                            display: none !important;
                        }
                    }
                    .slick-active {
                        button {
                            background-color: $color__primary !important;
                        }
                    }
                }  
            }
        }
    }
}
